<p class="my-4">
  <a class="btn btn-primary" [routerLink] = "['/planets']">Go Back</a>
</p>
<p *ngIf="!planet">Loading...</p>
<table *ngIf="planet" class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <td>{{ planet.id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ planet.name }}</td>
    </tr>
    <tr>
      <th>Rotation Period</th>
      <td>{{ planet.rotation_period }}</td>
    </tr>
    <tr>
      <th>Orbital Period</th>
      <td>{{ planet.orbital_period }}</td>
    </tr>
    <tr>
      <th>Diameter</th>
      <td>{{ planet.diameter }}</td>
    </tr>
    <tr>
      <th>Climate</th>
      <td>{{ planet.climate }}</td>
    </tr>
    <tr>
      <th>Gravity</th>
      <td>{{ planet.gravity }}</td>
    </tr>
    <tr>
      <th>Terrain</th>
      <td>{{ planet.terrain }}</td>
    </tr>
    <tr>
      <th>Surface Water</th>
      <td>{{ planet.surface_water }}</td>
    </tr>
  </tbody>
</table>